@media(min-width: 650px){
    main {
        width: 60vw;
        line-height: rem;
    }
    h1 {
        margin-inline: 20rem;
    }

    h2 {
        margin-bottom: 1.75rem;
    }

    h3 {
        margin-bottom: 2rem;
    }

    p {
        letter-spacing: .125rem;
        line-height: 1.35rem;
    }

    .eq img, .comida img, .roupas img{
        width: 28rem;
        margin-bottom: 3rem;
    }

    .outra img {
        width: 20rem;
    }

    footer {
        gap: 8rem;
        justify-content: center;
    }

}